@model IEnumerable<OnlineVoting.Models.Position>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Positions</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PositionTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Election)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PositionTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Election.ElectionName)
            </td>
            <td>
                <a asp-action="Update" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a> |
                <a asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-info-square-fill"></i></a> |
                <a asp-action="Remove" asp-route-id="@item.Id"><i class="bi bi-trash-fill"></i></a>
            </td>
             <td>
                <div >
                        <a asp-action="Index" asp-controller="Candidate" asp-route-id="@item.Id" class="btn btn-outline-primary">View Candidates</a>
                </div>
            </td>
            <td>
                <div>
                        <a asp-action="Create" asp-controller="Candidate" asp-route-id="@item.Id" class="btn btn-outline-primary">Add Candidate</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>


<div class="text-white" style="position:fixed; right:25px;bottom:25px;">
    <a asp-controller="Position" asp-action="Create" class="btn btn-success" asp-route-id="@ViewBag.EId"> <i class="bi bi-plus-circle" ></i>  Add New</a>
</div>