@model IEnumerable<OnlineVoting.Models.Position>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PositionTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Election)
            </th>
            <th></th>
            <th>View</th>
            <th>Add</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PositionTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Election.Id)    
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
            <td>
                @if(item.Election.ElectionType == OnlineVoting.Data.ElectionType.CandidateChoosing)
                {
                    <a asp-action="Index" asp-route-id="@item.Id" asp-controller="Position" class="btn btn-primary">View Position</a>
                }
                else
                {
                        
                    <a asp-action="Index" asp-route-id="@item.Id" asp-controller="Policy" class="btn btn-primary">View Policy</a>
                }
            </td>
            <td>
                @if(item.Election.ElectionType == OnlineVoting.Data.ElectionType.CandidateChoosing)
                {
                    <a asp-action="Create" asp-route-id="@item.Id" asp-controller="Position" class="btn btn-primary">Add Position</a>
                }
                else
                {
                        
                    <a asp-action="Create" asp-route-id="@item.Id" asp-controller="Policy" class="btn btn-primary">Add Policy</a>
                }
            </td>
            
        </tr>
}
    </tbody>
</table>
