@model IEnumerable<OnlineVoting.Models.Election>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ElectionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElectionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ElectionState)
            </th>
            <th>
                Management
            </th>
            <th>
                View
            </th>
            <th>
                Add
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ElectionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ElectionType)
            </td>
            <td>
                    @if(DateTime.Now >= item.StartDate && DateTime.Now <= item.EndDate)
                    {
                        <span>Running</span>
                    } 
                    else if(DateTime.Now <= item.StartDate)
                    {
                        <span>Not Started</span>
                    }
                    else
                    {
                        <span>Ended</span>
                    }
                </td>
            <td>
                <a asp-action="Update" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a> |
                <a asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-info-square-fill"></i></a> |
                <a asp-action="Remove" asp-route-id="@item.Id"><i class="bi bi-trash-fill"></i></a>
            </td>
            <td>
                <div class="btn btn-outline-primary">
                        @if (item.ElectionType == OnlineVoting.Data.ElectionType.CandidateChoosing)
                        {
                            <a asp-action="Index" asp-controller="Position" asp-route-id="@item.Id">View Positions</a>
                        }
                        else
                        {
                            <a asp-action="Index" asp-controller="Policy" asp-route-id="@item.Id">View Policies</a>
                        }
                </div>
            </td>
            <td>
                <div class="btn btn-outline-primary">
                        @if (item.ElectionType == OnlineVoting.Data.ElectionType.CandidateChoosing)
                        {
                            <a asp-action="Create" asp-controller="Position" asp-route-id="@item.Id">Add Position</a>
                        }
                        else
                        {
                            <a asp-action="Create" asp-controller="Policy" asp-route-id="@item.Id">Add Policy</a>
                        }
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
