@model OnlineVoting.Models.VoterRegistration

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var electionName = ViewBag.Election;
}

<h1>Details</h1>

<div>
    <h4>VoterRegistration</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UniqueId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UniqueId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Election)
        </dt>
        <dd class = "col-sm-10">
            @electionName
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Voter)
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.User.UserName
        </dd>
    </dl>
</div>

<div>
    <div class="col-auto">
        <form asp-action="Accept">
            <input type="submit" asp-action="Accept" asp-route-id="@Model.ReqId" value="Accept" class="btn btn-primary" />
        </form>
    </div>
    <div class="col-auto">
        <form asp-action="Discard">
            <input type="submit" asp-action="Discard" asp-route-id="@Model.ReqId" value="Discard" class="btn btn-primary" />
        </form>
    </div>
</div>
