@using OnlineVoting.Models
@model IEnumerable<OnlineVoting.Models.VoterRegistration>

@{
    ViewData["Title"] = "VotersToBeVerified";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>VotersToBeVerified</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Voter.VoterId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UniqueId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Election.ElectionName)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VoterId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UniqueId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ElectionId)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.ReqId"><i class="bi bi-info-circle-fill"></i></a>
            </td>
            <td class = "row">
                <div class = "col-auto">
                    <form asp-action= "Accept">
                        <input type="submit" asp-action="Accept" asp-route-id="@item.ReqId" value="Accept" class="btn btn-primary"/>
                    </form>
                </div>
                <div class = "col-auto">
                    <form asp-action="Discard">
                        <input type="submit" asp-action="Discard" asp-route-id="@item.ReqId" value="Discard" class="btn btn-primary"/>
                    </form>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
