@model IEnumerable<OnlineVoting.Models.Policy>

@{
    ViewData["Title"] = "Index";
}

<h1>Policies</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PolicyTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PolicyDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PolicyYesVote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Election)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PolicyTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PolicyDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PolicyYesVote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Election.Id)
            </td>
            <td>
                <a asp-action="Update" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a> |
                <a asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-info-square-fill"></i></a> |
                <a asp-action="Remove" asp-route-id="@item.Id"><i class="bi bi-trash-fill"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="text-white" style="position:fixed; right:25px;bottom:25px;">
    <a asp-controller="Policy" asp-action="Create" class="btn btn-success" asp-route-id="@ViewBag.ElectionId"><i class="bi bi-plus-circle" ></i>  Add New</a>
</div>